body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f9ff;
  color: #333;
  padding: 50px;
}
h1 {
  color: #0078D7;
}
a {
  color: #0078D7;
  text-decoration: none;
}
